@{
    ViewData["Title"] = "Detalle del día";
    int mesInt;
    int anioInt;
    int diaInt;

    diaInt = Convert.ToInt32(ViewData["dia"]);
    mesInt = Convert.ToInt32(ViewData["mes"]);
    anioInt = Convert.ToInt32(ViewData["anio"]);

    DateTime date1 = new DateTime(anioInt, mesInt, diaInt);

    string mesString = "";


    switch (mesInt)
    {
        case 1: mesString = "Enero"; break;
        case 2: mesString = "Febrero"; break;
        case 3: mesString = "Marzo"; break;
        case 4: mesString = "Abril"; break;
        case 5: mesString = "Mayo"; break;
        case 6: mesString = "Junio"; break;
        case 7: mesString = "Julio"; break;
        case 8: mesString = "Agosto"; break;
        case 9: mesString = "Septiembre"; break;
        case 10: mesString = "Octubre"; break;
        case 11: mesString = "Noviembre"; break;
        case 12: mesString = "Diciembre"; break;

    }

    int spacer = 5;
    switch (date1.DayOfWeek)
    {
        case DayOfWeek.Monday: spacer = 1; break;
        case DayOfWeek.Tuesday: spacer = 2; break;
        case DayOfWeek.Wednesday: spacer = 3; break;
        case DayOfWeek.Thursday: spacer = 4; break;
        case DayOfWeek.Friday: spacer = 5; break;
        case DayOfWeek.Saturday: spacer = 6; break;
        case DayOfWeek.Sunday: spacer = 0; break;
    }

    int anioProx = 0;
    int anioAnt = 0;
    int mesProx = 0;
    int mesAnt = 0;

    if (mesInt > 1 & mesInt < 12)
    {
        anioProx = anioInt;
        anioAnt = anioInt;
        mesProx = mesInt + 1;
        mesAnt = mesInt - 1;
    }
    else if (mesInt == 1)
    {
        anioProx = anioInt;
        anioAnt = anioInt - 1;
        mesProx = mesInt + 1;
        mesAnt = 12;

    }
    else if (mesInt == 12)
    {
        anioProx = anioInt + 1;
        anioAnt = anioInt;
        mesProx = 1;
        mesAnt = mesInt - 1;

    }

    //////////////////////datos hardcodeados///////////////////////
    string evento1 = "Evento1 de prueba";
    string evento2 = "Evento2 de prueba";
    DateTime dateEvento1 = new DateTime(2018, 6, 29);
    DateTime dateEvento2 = new DateTime(2018, 6, 30);
}

<div class="calendar">

    <div class="month">
        <ul>
            <li>
                @diaInt - @mesString - @anioInt<br>
            </li>
        </ul>
    </div>
    <div class="row">
        <ul>
            @if (date1 == dateEvento1)
            {
                <li>@evento1</li>
            }
            @if (date1 == dateEvento2)
            {
                <li>@evento2</li>
            }
        </ul>
    </div>
</div>
