@{
    ViewData["Title"] = "Calendario Mensual";
}
<div class="container-fluid">
    <div class="row">
        @*<h2>@ViewData["Title"]</h2>
        <h3>@ViewData["Message"]</h3>*@
        <br />
        <h1>Acceda al calendario desde la opcion en la barra de navegacion.</h1>
    </div>

</div>